@import "tailwindcss";

#loader{
        border-radius: 4px;
        border: none;
        background-color: #f6f7f8;
        background: linear-gradient(to right, #9ed7ff, #ffffff, #9ed7ff);
        background-size: 800px 50px;
        height: 20px;
        animation: loaderAnimation 3s infinite linear;
}

@keyframes loaderAnimation{
        0%{
                background-position: -800px 0px;
        }
        100%{
                background-position: 800px 0px;
        }
}